body{
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    margin: 0px;
    padding: 0x;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    gap: 5%;
}

#container{
    display: flex;
    border: solid white 3px;
    border-radius: 5px;
    width: 700px;
    height: 700px;
}

.row-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.grid-box-before{
    flex: 1;
    border: black solid 1px;
    background-color: black;
}

.grid-box-after{
    flex: 1;
    border: black solid 1px;
}

#button-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button{
    padding: 8px 16px;
    cursor: pointer;
    border: solid white 2px;
    background-color: rgb(35, 35, 35);
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.button:hover{
    background-color: white;
    color: black;
}

.header{
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius: 12px;
}