body{
    height: 100vh;
    margin: 0px;
    padding: 0x;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
}

.column-div{
    border: black solid 1px;
    height: 5px;
    width: 5px;
}